body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 5em;
  color: cadetblue;
}

h1 {
  font-style: italic;
  color: cadetblue;
}

label {
  width: 70px;
  clear: left;
  padding-right: 10px;
}

label {
  float: left;
}
